<div class="bloc l-bloc lb-background-2" id="navbar">
	<div class="container bloc-no-padding-lg">
		<div class="row">
			<div class="col">
				<nav class="navbar row navbar-expand-sm" role="navigation">
					<div class="container-fluid">
						<a class="navbar-brand text-uppercase font-logo" href="{{ path("home") }}">
							{{ getThisProjectName }}
						</a>
					</div>
				</nav>
			</div>
		</div>
	</div>
</div>
