<!-- BEGIN: policy -->
<div class="bloc none l-bloc lb-background" id="policy">
    <div class="container bloc-sm">
        <div class="row">
            <div class="col-lg-12"><h2 class="mx-auto d-block text-lg-center mg-clear btn-resize-mode text-center lb-title-1 lb-text-accent">Privacy Policy of {{ getThisProjectName }}</h2></div>
            <div class="col-lg-12"><h4 class="mg-md text-lg-center mx-auto d-block btn-resize-mode lb-title-2 lb-text-accent text-center">Policy summary</h4></div>
            <div class="col-lg-6 align-self-start col-md-6">
                <h3 class="mg-md lb-title-3 lb-text-accent">Contact information:</h3>
                <h4 class="mg-sm lb-text-accent">Creator</h4>
                <p class="mg-clear lb-descriptions">Haikiri</p>
                <p class="mg-clear lb-descriptions">Link:&nbsp;<a class="lb-text-accent" href="https://github.com/MKC-MKC" target="_blank">GitHub</a></p>
                <p class="mg-clear lb-descriptions">Messenger:&nbsp;<a class="lb-text-accent" href="https://haikiri.t.me/" target="_blank">Telegram</a></p>
                <h4 class="mg-sm lb-text-accent">iOS Developer</h4>
                <p class="mg-clear lb-descriptions">Ivan Lobanov</p>
                <p class="mg-clear lb-descriptions">Messenger:&nbsp;<a class="lb-text-accent" href="https://user1man.t.me/" target="_blank">Telegram</a></p>
                <h4 class="mg-sm lb-text-accent">Data Controller</h4>
                <p class="mg-clear lb-descriptions">TimeWeb Hosting</p>
                <p class="mg-clear lb-descriptions">Link:&nbsp;<a class="lb-text-accent" href="https://timeweb.cloud/r/ct75785" target="_blank">TimeWeb.Cloud</a></p>
            </div>
            <div class="col-lg-6 align-self-start col-md-6">
                <h3 class="mg-md lb-title-3 lb-text-accent">Detailed information on the processing of Personal Data</h3>
                <p class="lb-descriptions">Personal data is collected for the following purposes and using the services specified in this document.</p>
            </div>
            <div class="col-lg-12"><h4 class="mg-md text-lg-center mx-auto d-block text-center lb-title-2 lb-text-accent">Full policy</h4></div>
            <div class="col-lg-6 align-self-start col-md-6">
                <h3 class="mg-sm lb-title-3 lb-text-accent">Types of Data collected</h3>
                <p class="mg-sm btn-resize-mode lb-descriptions">The owner does not provide a list of the types of personal data collected.</p>
                <p class="mg-sm lb-descriptions">Other personal data collected may be described in other sections of this privacy Policy or in a special explanatory text related to data collection.</p>
                <p class="mg-sm lb-descriptions">Personal data can be freely provided by the user or collected automatically when using this application.</p>
                <p class="mg-sm lb-descriptions">Any use of cookies - or other tracking tools - by this application or the owners of third-party services used by this project, unless otherwise specified, serves to identify users and remember their preferences for the sole purpose of providing the services required by the user.</p>
                <p class="mg-sm lb-descriptions">Failure to provide certain personal data may make it impossible for this application to provide its services.</p>
                <p class="mg-sm lb-descriptions">Users are responsible for any personal data of third parties received, published or transmitted through this application, and confirm that they have the consent of a third party to provide this data to the owner.</p>
            </div>
            <div class="col-lg-6 align-self-start col-md-6">
                <h3 class="mg-sm lb-title-3 lb-text-accent">Mode and place of processing the Data</h3>
                <p class="mg-sm btn-resize-mode p-privacy-page-margin-bottom lb-text-accent"><strong>Methods of processing</strong></p>
                <p class="mg-sm lb-descriptions">The data controller processes user data properly and takes appropriate security measures to prevent unauthorized access and disclosure.<br>In addition to the data controller, data may be available to certain types of responsible persons involved in the operation of the site or to external parties (such as third-party technical service providers, mail carriers, hosting providers).</p>
                <p class="mg-sm lb-text-accent"><strong>Place</strong></p>
                <p class="mg-sm lb-descriptions">The Data is processed at the Data Controller's operating offices and in any other places where the parties involved with the processing are located. For further information, please contact the Data Controller.</p>
                <p class="mg-sm lb-text-accent"><strong>Retention time</strong></p>
                <p class="mg-sm lb-descriptions">The Data is kept for the time necessary to provide the service requested by the User, or stated by the purposes outlined in this document, and the User can always request that the Data Controller suspend or remove the data.</p>
            </div>
            <div class="col-lg-12"><h4 class="mg-md text-lg-center mx-auto d-block text-center lb-title-2 lb-text-accent">Additional information about Data collection and processing</h4></div>
            <div class="col-lg-6 align-self-start col-md-6">
                <h3 class="mg-sm lb-title-3 lb-text-accent">Legal action</h3>
                <p class="mg-sm btn-resize-mode lb-descriptions">The User's Personal Data may be used for legal purposes by the Data Controller, in Court or in the stages leading to possible legal action arising from improper use of this Application or the related services.The User declares to be aware that the Data Controller may be required to reveal personal data upon request of public authorities.</p>
            </div>
            <div class="col-lg-6 align-self-start col-md-6">
                <h3 class="mg-sm lb-title-3 lb-text-accent">The rights of Users</h3>
                <p class="mg-sm btn-resize-mode lb-descriptions">Users have the right, at any time, to know whether their Personal Data has been stored and can consult the Data Controller to learn about their contents and origin, to verify their accuracy or to ask for them to be supplemented, cancelled, updated or corrected, or for their transformation into anonymous format or to block any data held in violation of the law, as well as to oppose their treatment for any and all legitimate reasons. Requests should be sent to the Data Controller at the contact information set out above.</p>
            </div>
            <div class="col-lg-6 align-self-start col-md-6">
                <h3 class="mg-sm lb-title-3 lb-text-accent">Additional information about User's Personal Data</h3>
                <p class="mg-sm btn-resize-mode lb-descriptions">In addition to the information contained in this privacy policy, this Application may provide the User with additional and contextual information concerning particular services or the collection and processing of Personal Data upon request.</p>
            </div>
            <div class="col-lg-6 align-self-start col-md-6">
                <h3 class="mg-sm lb-title-3 lb-text-accent">This Application does not support "Do Not Track" requests.</h3>
                <p class="mg-sm btn-resize-mode lb-descriptions">To determine whether any of the third party services it uses honor the "Do Not Track" requests, please read their privacy policies.</p>
            </div>
            <div class="col-lg-6 align-self-start col-md-6">
                <h3 class="mg-sm lb-title-3 lb-text-accent">System logs and maintenance</h3>
                <p class="mg-sm btn-resize-mode lb-descriptions">For the purpose of operation and maintenance, this project and any third-party services may collect files that record interaction with this application (system logs), or use other personal data (for example, IP address) for this purpose. <strong>If you do not agree to this, leave this project immediately.</strong></p>
            </div>
            <div class="col-lg-6 align-self-start col-md-6">
                <h3 class="mg-sm lb-title-3 lb-text-accent">Changes to this privacy policy</h3>
                <p class="mg-sm btn-resize-mode lb-descriptions">The Data Controller reserves the right to make changes to this privacy policy at any time by giving notice to its Users on this page. It is strongly recommended to check this page often, referring to the date of the last modification listed at the bottom. If a User objects to any of the changes to the Policy, the User must cease using this Application and can request that the Data Controller remove the Personal Data. Unless stated otherwise, the then-current privacy policy applies to all Personal Data the Data Controller has about Users.</p>
            </div>
            <div class="col-lg-12"><h4 class="mg-md text-lg-center mx-auto d-block lb-title-2 lb-text-accent text-center">Definitions and legal references</h4></div>
            <div class="align-self-start col-lg-12">
                <h3 class="mg-sm lb-title-3 lb-text-accent">Personal Data (or Data)</h3>
                <p class="mg-sm btn-resize-mode lb-descriptions">Any information regarding a natural person, a legal person, an institution or an association, which is, or can be, identified, even indirectly, by reference to any other information, including a personal identification number.</p>
            </div>
            <div class="align-self-start col-lg-12">
                <h3 class="mg-sm lb-title-3 lb-text-accent">Usage Data</h3>
                <p class="mg-sm btn-resize-mode lb-descriptions">Information collected automatically from this Application (or third party services employed in this Application), which can include: the IP addresses or domain names of the computers utilized by the Users who use this Application, the URI addresses (Uniform Resource Identifier), the time of the request, the method utilized to submit the request to the server, the size of the file received in response, the numerical code indicating the status of the server's answer (successful outcome, error, etc.), the country of origin, the features of the browser and the operating system utilized by the User, the various time details per visit (e.g., the time spent on each page within the Application) and the details about the path followed within the Application with special reference to the sequence of pages visited, and other parameters about the device operating system and/or the User's IT environment.</p>
            </div>
            <div class="align-self-start col-lg-12">
                <h3 class="mg-sm lb-title-3 lb-text-accent">User</h3>
                <p class="mg-sm btn-resize-mode lb-descriptions">The individual using this Application, which must coincide with or be authorized by the Data Subject, to whom the Personal Data refers.</p>
            </div>
            <div class="align-self-start col-lg-12">
                <h3 class="mg-sm lb-title-3 lb-text-accent">Data Subject</h3>
                <p class="mg-sm btn-resize-mode lb-descriptions">The legal or natural person to whom the Personal Data refers.</p>
            </div>
            <div class="align-self-start col-lg-12">
                <h3 class="mg-sm lb-title-3 lb-text-accent">Data Processor (or Data Supervisor)</h3>
                <p class="mg-sm btn-resize-mode lb-descriptions">The natural person, legal person, public administration or any other body, association or organization authorized by the Data Controller to process the Personal Data in compliance with this privacy policy.</p>
            </div>
            <div class="align-self-start col-lg-12">
                <h3 class="mg-sm lb-title-3 lb-text-accent">Data Controller (or Owner)</h3>
                <p class="mg-sm btn-resize-mode lb-descriptions">The natural person, legal person, public administration or any other body, association or organization with the right, also jointly with another Data Controller, to make decisions regarding the purposes, and the methods of processing of Personal Data and the means used, including the security measures concerning the operation and use of this Application. The Data Controller, unless otherwise specified, is the Owner of this Application.</p>
            </div>
            <div class="align-self-start col-lg-12">
                <h3 class="mg-sm lb-title-3 lb-text-accent">This Application</h3>
                <p class="mg-sm btn-resize-mode lb-descriptions">The hardware or software tool by which the Personal Data of the User is collected.</p>
            </div>
            <div class="align-self-start col-lg-12">
                <h3 class="mg-sm lb-title-3 lb-text-accent">Legal information</h3>
                <p class="mg-sm btn-resize-mode lb-descriptions">Notice to European Users:<br>This privacy statement has been prepared in fulfillment of the obligations under Art. 10 of EC Directive n. 95/46/EC, and under the provisions of Directive 2002/58/EC, as revised by Directive 2009/136/EC, on the subject of Cookies.</p>
                <p class="mg-sm btn-resize-mode lb-descriptions">This privacy policy relates solely to this project.</p>
            </div>
        </div>
    </div>
</div>
<!-- END: TERMS -->
